/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #cd3532;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #cd3532;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #cd3532;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}

.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #cd3532;
}

.btn-white {
  color: #cd3532;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #cd3532;
  background-color: #212124;
}

.dash-right {
  display: flex;
  flex-direction: row; 
  width: calc(100% - 20%); 
  height: 100vh;
  overflow: auto;
}


.header-left h1 {
  color: #e10600;
}

.hello {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hello img.profile {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
}

.hello .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hello .info img {
  max-width: 100px;
  height: auto;
  border-radius: 0; /* Remove o arredondamento para as logos */
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 10px 0;
  display: ruby;
}

.hello h3 p {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #cd3532;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #cd3532;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #cd3532;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
}

.mostrarQuiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px;
  width: 780px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inicio {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.iniciar {
  border-radius: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 265px;
  margin: auto;
  display: flex;
}

.iniciar:hover {
  background-color: #2980b9;
}

.finalizar {
  border-radius: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 265px;
  margin: auto;
  display: flex;
}

.finalizar:hover {
  background-color: #2980b9;
}

.finalizacao {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  flex-direction: column;
}

.finalizacao p {
  font-weight: 600;
}

.pergunta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.opcoes {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
  max-width: 400px; /* Define a largura máxima para a div opcoes */
  margin-top: 20px; /* Adiciona um espaço entre a pergunta e as opções */
  height: 100px;
  width: 1000px;
}

.opcoes button {
  justify-content: center;
  border-radius: 29px;
  padding: 9px 18px;
  margin: 5px; /* Espaçamento entre os botões */
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.85);
  border: transparent 1px solid;
  font-size: 20px;
  width: calc(50% - 10px); /* Define a largura para ocupar metade da largura da div opcoes e considera o espaço entre os botões */
}

.opcoes button:hover {
  background-color: #2980b9;
}

.resposta {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.resultado-quiz {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 350px;
  display: flex; /* Adiciona um display flex para alinhar os itens na horizontal */
  flex-direction: column; /* Altera a direção do flex para coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
}

.dash-right .resultado-quiz {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 350px;
  display: flex; /* Adiciona um display flex para alinhar os itens na horizontal */
  flex-direction: column; /* Altera a direção do flex para coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin: auto;
}

.resultado-tentativas {
  width: 100%; /* Define a largura para ocupar toda a largura disponível */
  display: flex; /* Adiciona um display flex para alinhar os itens na horizontal */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-top: 10px; /* Adiciona um espaçamento no topo */
}

.resultado-tentativas .tentativa {
  width: 100%; /* Define a largura para ocupar toda a largura disponível */
  border: 1px solid #ccc; /* Adiciona uma borda para separar as tentativas */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  padding: 10px; /* Adiciona um espaçamento interno */
  margin-top: 10px; /* Adiciona um espaçamento no topo */
}

.tentativa span {
  font-weight: bold;
}
