@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #cd3532;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: #d60707;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: 90vh;
  color: white;
  background-image: url('../assets/imgs/bgIMG.jpg');
  background-size: cover;
background-position: center;
background-attachment: fixed;
text-shadow: 0px 0px 15px black;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.banner .container span {
  font-weight: 900;
  font-size: 45px;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #cd3532;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 35px;
}

.card {
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #cd3532;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 22px !important; 
  font-weight: 800 !important;
}

.formulario input {
  border: 2px solid #cd3532;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #cd3532;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #e6005a;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #cd3532;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}
.simulador{
  background-color: white;
}

.simulador .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.simulador p {
  text-align: center;
}

.box {
  background-color: black;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black;
}

.section {
  background-color: #f5f5f5;
}

.section .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: solid 10px #e10600;
}

.impar {
  border-right: solid 10px #e10600;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.par {
  border-left: solid 10px #e10600;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.section .content,
.historia {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.section .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.section .info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section .info h2 {
  color: #333;
  font-size: 50px;
  margin-bottom: 10px;
}

.section .info p {
  color: #666;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-decoration: none;
}

.section .info a {
  text-decoration: none;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.img-piloto {
  width: 300px;
  margin-bottom: 10px;
  margin-top: 40px;

}

.logo-equipe {
  max-width: 80px;
}

.logo-numero {
  max-width: 100px;
}

.section .historia {
  color: #666;
  font-size: 20px;
  line-height: 1.6;
  margin-top: -95px;
  width: 100%;
}

.section.equipe {
  background-color: #f5f5f5;
  padding: 20px;
}

.section.equipe .container {
  max-width: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section.equipe h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.section.equipe .logo-equipe {
  max-width: 100px;
  margin-bottom: 10px;
}

.section.equipe .pilotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section.equipe .pilotos .piloto {
  text-align: center;
}

.section.equipe .pilotos p {
  font-size: 25px;
  color: black;
  font-weight: 700;
}

.section.equipe .pilotos a {
  text-decoration: none !important;
}

.section.equipe .img-piloto {
  width: 200px;
  margin-top: 10px;
}

.section.equipe .carro {
  margin-top: 20px;
}

.section.equipe .carro img {
  max-width: 1000px;
}

.section.equipe .historia {
  display: none;
  margin-top: 20px;
  margin-left: 10px;
  max-width: 80%;
}

.section.equipe .historia p {
  font-size: 18px;
}

.section.equipe .mostrar-historia {
  cursor: pointer;
  color: #000000;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  display: contents;
  align-items: center;
}

.section.equipe .mostrar-historia:hover {
  text-decoration: none;
}

.history {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.history .container {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: solid 10px #e10600;
}

.history h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5em;
}

.history .content {
  display: flex;
  align-items: center;
}

.history .text {
  flex: 1;
  padding: 15px;
}

.history .image {
  flex: 1;
  padding: 15px;
}

.history .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .history .content {
    flex-direction: column;
  }
}

.buttonIndex {
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(225, 71, 47) 50%, rgb(215, 39, 4) 100%);
  color: #fff;
}

.entre-secoes {
  text-align: center;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.podio {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: flex-end;
  width: 100%;
  margin: auto;
}

.podio .box {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}


.p1 {
  height: 300px;
  border:10px solid gold;
}

.p2 {
  height: 280px;
  border: 10px solid silver;

}

.p3 {
  height: 260px;
  border: 10px solid #cd7f32;

}

.lista-ranking {
  margin-top: 50px;
  background-color: #f9f9f9;
  width: 70%;
  margin: auto;
}

.lista-ranking ul {
  list-style-type: none;
  padding: 0;
}

.lista-ranking li {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.competidor-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 3px solid black;
  padding: 10px;
}

.competidor-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.competidor-info .num- {
  font-weight: bold;
  margin-right: 10px;
}

.competidor-info .nome {
  flex-grow: 1;
  /* Para ocupar o espaço restante */
  margin-right: 10px;
}

.competidor-info .acertos,
.competidor-info .tempo {
  font-size: 0.9em;
  color: #666;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

/* Adicione estilos personalizados aqui */
.competidor-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border: 3px solid black;
}

.competidor-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nome {
  flex-grow: 1;
  margin-right: 10px;
  font: 25px;
  font-weight: 800;
}

.competidor-info .acertos,
.competidor-info .tempo {
  font-size: 0.9em;
  color: #666;
}

.logo-num {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
  margin: auto;
}

.logo-num img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.imgPerfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.ranking-container {
  background-color: white;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

.competidor-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border: 3px solid black;
  max-width: 700px;
  margin: auto;
}

.competidor-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nome {
  flex-grow: 1;
  font-size: 25px;
  font-weight: 800;
  margin-right: 10px;
  text-align: center;
}

.competidor-info .acertos,
.competidor-info .tempo {
  font-size: 20px;
  color: #666;
  margin-right: 10px;
}

.ranking-container ul {
  list-style-type: none;
}

.tab-container {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  margin-left: 8.5rem;
  justify-items: flex-end;
}

.tab-container button {
  padding: 0.4rem;
}

.ranking-container h2 {
  margin: auto;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.tituloRanking {
  margin-top: 50px !important;
  margin-bottom: 20px !important;

}

.competidor {
  margin-bottom: 40px !important;
}

.podio .competidor-info .linha {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}
